* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Code, monospace;
}
.header {
  width: 100vw;
  min-height: 90px;
}
.logo {
  height: 100px;
  width: 100px;
}

.link {
  text-decoration: none;
  color: #ffffff;

  font-weight: 500;
  font-size: 17px;
  margin: 0px 5px;
}
.link:hover {
  color: #20f2c3;
  transition: all 0.3s;
  /* text-decoration:underline ; */
  /* line-height: 10px; */
  padding: 3px 5px;
}
.backg {
  background-color: #14222f;
}
